#chatContainer{
	position:relative;
}

#chatUsers UL{
    list-style: none;
    padding-left: 0px;
    padding-top: 10px;
overflow-x: hidden;height: 345px;    
}

#chatUsers UL A{
  text-decoration: none;
}

#chatUsers UL LI{
  width: 100%;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid white;
  margin-left: 2px;
  padding-top:2px;
}

#chatUsers UL LI IMG {
  width: 20px;
  padding-right: 5px;
  margin-left: 3px;
  margin-bottom: -5px;
}



#chatLineHolder UL{
  list-style: none;
  padding-left: 0px;
  padding-top: 10px; 
  padding-left: 15px;
}

#chatLineHolder UL LI{
  margin-left: 0px;
}

#chatLineHolder UL LI B{
  cursor: pointer;
}

#chatLineHolder UL LI IMG{
  max-width: 100%;
  max-height: 250px;
}
/*Тулбар*/

#chatTopBar UL{
  padding-left: 8px;
  padding-top: 4px;
}

#chatTopBar UL LI{
  display: block;
  padding: 5px;
  margin: 2px;
  float: left;
  background-color:#d5d5d5;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;  
  color: #000;
  cursor: pointer;
}

/* Верхняя панель */
#chatTopBar{
	height:40px;
	background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
	border:1px solid #fff;
	margin-bottom:15px;
	position:relative;
	color:#777;
}

#chatTopBar .name{
	position:absolute;
	top:10px;
	left:40px;
}

#chatTopBar img{
	left:9px;
	position:absolute;
	top:8px;
}

#chatTopBar UL LI.active{
  background-color: #FFFFFF;
}


/*Диалоги*/
.dialogLineHolder{
	height:360px;
	width:100%;
	margin-bottom:20px;
	overflow-y: auto;
	overflow-x: hidden;
	display: none;
	background-color: white;
	color: black;
}
.dialogLineHolder UL{
	padding-left: 8px;
	padding-top: 4px; 
	list-style: none;
}

.dialogLineHolder UL LI{
  padding: 2px;
  margin: 2px;
  overflow: hidden;
}

.dialogLineHolder UL LI.new{
  background-color: #efefef;
}

.chatTopBar .dialog.have_new{
  font-weight: bold;
}
/* Чат */
#chatLineHolder{
	height:360px;
	width:410px;
	margin-bottom:20px;
	overflow-y: auto;
	overflow-x: hidden;
	margin-left: -15px;
}

.chat{
	background:url('../img/chat_line_bg.jpg') repeat-x #d5d5d5;
	min-height:24px;
	padding:6px;
	border:1px solid #FFFFFF;
	
	padding:8px 6px 4px 37px;
	position:relative;
	margin:0 10px 10px 0;
}

.chat:last-child{
	margin-bottom:0;
}

.chat span{
	color:#777777;
	text-shadow:1px 1px 0 #FFFFFF;
	font-size:12px;
}

.chat .text{
	color:#444444;
	display:inline-block;
	font-size:15px;
	overflow:hidden;
	vertical-align:top;
	width:190px;
}

.chat .gravatar{
	background:url('http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?size=23') no-repeat;
	left:7px;
	position:absolute;
	top:7px;
}

.chat img{
	display:block;
	visibility:hidden;
}

.chat .time{
	position:absolute;
	right:10px;
	top:12px;
	font-size:11px;
}

.chat .author{
	margin-right:6px;
	font-size:11px;
}


/* Область пользователя */


#chatUsers{
	background-color:#EAEEF7;
	height:360px;
	position:absolute;
	right:0;
	top:56px;
	width:250px;
}

#chatUsers .user{
	background:url('http://www.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?size=30') no-repeat 1px 1px #444444;
	border:1px solid #111111;
	float:left;
	height:32px;
	margin:10px 0 0 10px;
	width:32px;
}

#chatUsers .user img{
	border:1px solid #444444;
	display:block;
	visibility:hidden;
}


/* Нижняя панель */


#chatBottomBar{
	background:url('../img/solid_gray.jpg') repeat-x #d0d0d0;
	position:relative;
	padding:10px;
	border:1px solid #fff;
	margin-bottom: 10px;
}

#chatBottomBar .tip{
	position:absolute;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:#eeeeee;
	top:-20px;
	left:20px;
}

#chatContainer input{
	height:26px;
	font:13px/26px Calibri,Arial,sans-serif;
	border:1px solid;
	border-color:#c1c1c1 #eee #eee #c1c1c1;
	text-shadow:1px 1px 0 #E4E4E4;
	padding:0 5px;
	margin-right:5px;
	width:185px;
	outline:none;
}

input#chatText{
	/* Текстовое поле чата */
	width:850px;
}


/* Изменение стилей по умолчанию для jScrollPane */


.jspVerticalBar{
	background:none;
	width:20px;
}

.jspTrack{
	background-color:#202020;
	border:1px solid #111111;
	width:3px;
	right:-10px;
}

.jspDrag {
	background:url('../img/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}

.jspDrag:hover{
	background-position:left bottom;
}


/* Дополнительные стили */


a.logoutButton{
	background-color:#bbb;
	border:1px solid #eee !important;
	color:#FFFFFF !important;
	font-size:12px;
	padding:5px 9px;
	position:absolute;
	right:10px;
	text-shadow:1px 1px 0 #888;
	top:7px;
	
	-moz-box-shadow:0 0 7px #888 inset;
	-webkit-box-shadow:0 0 7px #888 inset;
	box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
	text-shadow:1px 1px 0 #888;
	
	-moz-box-shadow:0 0 7px #666 inset;
	-webkit-box-shadow:0 0 7px #666 inset;
	box-shadow:0 0 7px #666 inset;
}

#chatContainer .blueButton{
	background:url('../img/button_blue.png') no-repeat;
	border:none !important;
	color:#516D7F !important;
	display:inline-block;
	font-size:13px;
	height:29px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);
	width:75px;
	margin:0;
	cursor:pointer;
}

#chatContainer .blueButton:hover{
	background-position:left bottom;
}

p.noChats,
#chatUsers .count{
	clear:both;
	font-size:12px;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px 0 #111111;
}

#chatUsers .count{
	font-size:11px;
}

.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#chatErrorMessage{
	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:23px;
	padding:16px;
	text-align:center;
	color:#fff;
	
	text-shadow:1px 1px 0 #940f0f;
}

.sysmesc{
  float: right;
  padding-top: 10px;
}

.sysmesc INPUT#sysmes {
  width: auto !important;
  height: auto !important;
}

.fixed{
  position: absolute;
  background-color: greenyellow;
  padding: 2px;
  width: 390px;
}

.toyou{
  background: url("/components/ajaxchat/img/arrow-right.png") no-repeat; 
  margin-left: -15px !important;
  padding-left: 15px;
}

#flag{
  width: 16px;
  height: 16px;
  background: url("/components/ajaxchat/img/flags/flag-black.png") no-repeat;
  margin-top: 7px;
  margin-right: 9px;
  float: right;
}

#flag.blue{
  background: url("/components/ajaxchat/img/flags/flag-blue.png") no-repeat;
}

#flag.green{
  background: url("/components/ajaxchat/img/flags/flag-green.png") no-repeat;
}

#flag.red{
  background: url("/components/ajaxchat/img/flags/flag-red.png") no-repeat;
}

#flag.yellow{
  background: url("/components/ajaxchat/img/flags/flag-yellow.png") no-repeat;
}

#sysvoice{
  width: 16px;
  height: 16px;
  background: url("/components/ajaxchat/img/sysvoice_off.png") no-repeat;
}

#sysvoice.on{
  background: url("/components/ajaxchat/img/sysvoice_on.png") no-repeat;
}

#sound{
  width: 16px;
  height: 16px;
  background: url("/components/ajaxchat/img/audio-volume-on.png") no-repeat;
}

#help{
  width: 16px;
  height: 16px;
  background: url("/components/ajaxchat/img/help.png") no-repeat;
}

#sound.off{
  background: url("/components/ajaxchat/img/audio-volume-off.png") no-repeat;
}

.sysmesc .icon{
  display: inline-block;
  cursor: pointer;
}

.usr_msg_bbcodebox{
  background: none;
}

IMG.activestatus{
  width: 8px !important;
  height: 8px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-right: -9px;
  position: relative;
  z-index: 5;
}

.iconsright{
    display: inline-block;
    float: right;
}

.iconsright IMG{
  cursor: pointer;
}

.startdialog{
  display: none;
}

#chatTopBar .dialog .closedialog{
  width: 8px;
  height: 8px;
  background: url("/components/ajaxchat/img/close-dialog.png") no-repeat;
  float: right;
  position: relative;
  top: 6px;
  margin-left: 5px;
}

.nomess-private{
  color: black;
  background: url("/components/ajaxchat/img/start-private.png") no-repeat;
  height: 48px;
  padding-left: 51px;
  padding-top: 5px;
  line-height: 18px;
  font-size: 16px;
  position: absolute;
  bottom: 130px;
  left: 28px;  
}

.scolor{
  display: inline-block;
  top: 10px;
  right: 10px;
  position: absolute;
  line-height: 12px;
}

.simplecolorpicker.picker {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1051; /* Above Bootstrap modal (@zindex-modal = 1050) */
  display: none;
  float: left;
  min-width: 160px;
  max-width: 300px; /* @popover-max-width = 276px + 7 */
  padding: 5px 0 0 5px;
  margin: 2px 0 0;
  list-style: none;
  background-color: #fff; /* @dropdown-bg */
  border: 1px solid #ccc; /* @dropdown-fallback-border */
  border: 1px solid rgba(0, 0, 0, .15); /* @dropdown-border */
  -webkit-border-radius: 4px; /* @border-radius-base */
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
     -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.simplecolorpicker.inline {
  display: inline-block;
  padding: 6px 0;
}

.simplecolorpicker span {
  margin: 0 5px 5px 0;
}

.simplecolorpicker.icon,
.simplecolorpicker span.color {
  display: inline-block;

  cursor: pointer;
  border: 1px solid transparent;
}

.simplecolorpicker.icon:after,
.simplecolorpicker span.color:after {
  content: '\00a0\00a0\00a0\00a0'; /* Spaces */
}

.simplecolorpicker span.color[data-disabled]:hover {
  cursor: not-allowed;
  border: 1px solid transparent;
}

.simplecolorpicker span.color:hover,
.simplecolorpicker span.color[data-selected],
.simplecolorpicker span.color[data-selected]:hover {
  border: 1px solid #222; /* @gray-dark */
}
.simplecolorpicker span.color[data-selected]:after {
  color: #fff;
}

/* Vertical separator, replaces optgroup. */
.simplecolorpicker span.vr {
  border-left: 1px solid #222; /* @gray-dark */
}

.simplecolorpicker span.color {
  width: 16px;
  height: 16px;
}

.simplecolorpicker.icon{
  float: none;
  margin-right: 0px;
  width: 16px;
  height: 16px;
}

